// Анимация левитации кубиков
@keyframes bricks-levitation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

// Анимация минифигурки 
@keyframes minifigure-animation {
    0%,
    100% {
        transform: translateY(-12px) scale(.9) rotateZ(-10deg) ;
    }
    50% {
        transform: translateY(0) scale(1) rotateZ(-10deg) ;
    }
}

// Анимация сияющих кнопок
@keyframes btn-shine {
    from {
        @include shining-btn-mixin($btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    10% {
        @include shining-btn-mixin(transparent, $btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    20% {
        @include shining-btn-mixin(transparent, transparent, $btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    30% {
        @include shining-btn-mixin(transparent, transparent, transparent, $btn-shine-color, transparent, transparent, transparent, transparent, transparent, transparent)
    }
    40% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, $btn-shine-color, transparent, transparent, transparent, transparent, transparent)
    }
    50% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, $btn-shine-color, transparent, transparent, transparent, transparent)
    }
    60% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color, transparent, transparent, transparent)
    }
    70% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color, transparent, transparent)
    }
    80% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color, transparent)
    }
    90% {
        @include shining-btn-mixin(transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, $btn-shine-color)
    }
}